#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  
  /* padding: 2rem; */
  text-align: center;
}

.navbar {
  display: flex;
  line-height: 1;
  justify-content: center;
  flex-direction: row;
}

.navbar-item {
  padding: 30px;
}

.greeting-container {
  display: flex;
  flex-direction: column;
}

.greeting-name {
  font-size: 70px;
}

.greeting-job {
  font-size: 50px;
}

.language-items {
  display: flex;
  flex-direction: row;
}

.language-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  background-color: #c4c4c4;
  width: 150px;
  margin: 0.25em 0;
}


.language-icon {
  margin: 0 1em;
  height: 1em;
  padding-right: 0.5em;
}
